.fuhao {
    width: 15px;
    height: 15px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    transform: rotate(-45deg);
    position: absolute;
    left: 20px;
    top: 18px;
}
.title {
    text-align: center;
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
}
.DetailWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    border-bottom: 1px solid #DEDEDE;
    background-color: #F7F7F7;
}
.left {
   padding-left: 20px;
    
}
.right {
    position: absolute;
    right: 20px;
}
.price2 {
    color: #000;
}