* {
    margin: 0;
    padding: 0;
}
#deleteUl li:nth-of-type(odd){ 
    display: none;
}
.homePage {
    width: 100%;
    height: 100%;
    
}
.header {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 1px solid #DEDEDE;
}
.today {
    width: 100%;
    height: 100%;
    padding: 10px 10px;
    text-align: center;
    border-bottom: 1px solid #DEDEDE;
}
.total {
    font-size: 15px;
    margin: 0;
}
.price {
    font-size: 25px;
    margin: 0;
}
.LookMore {
    width: 100%;
    text-align: center;
    font-size: 12px;
    /* padding-top: 10px; */
    border-bottom: 4px solid #DEDEDE;
}
.title {
    padding: 10px;
    font-size: 17px;
}
.show {
    opacity: 1;
    transition: all 1.5s ease-in
}
.hide {
    opacity: 0;
    transition: all 1.5s ease-in
}
.footer {
    width: 100%;
    border-top: 1px solid #DEDEDE;
    position: absolute;
    bottom: 0;
}
#icon {
    padding-top: 10px;
    font-size: 25px;
}
.add {
    font-size: 15px;
    padding-bottom: 10px;
}